# === Java / Maven / Gradle ===
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
*.jar
*.war
*.ear
*.class
hs_err_pid*
.gradle/
.mvn/wrapper/maven-wrapper.jar

# === Spring Boot ===
application-local.properties
application-local.yml

# === Node / Frontend ===
node_modules/
dist/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === Entornos y secretos ===
.env
.env.local
.env.*.local
*.pem

# === IDEs ===
.idea/
*.iml
.vscode/
*.code-workspace
.settings/
.project
.classpath

# === Sistema operativo ===
.DS_Store
Thumbs.db
desktop.ini

# === Logs ===
*.log
logs/
